 body {
            font-family: Arial, sans-serif;
            background-image: url('img/gym11.jpeg'); 
            margin: 0;
            padding: 0;
        }
        .container {
            
            background-color: #abaaaa;
            padding: 20px;
            opacity: 0.9;
            border-radius: 10px;
            margin: 20px;
        }
        h1 {
            text-align: center;
            color: #781c1c;
        }
        p {
            font-size: 18px;
            line-height: 1.5;
            color: #000000;
        }
        .contact-links {
            text-align: center;
            margin-top: 20px;
        }
        .contact-links a {
            
            text-decoration: none;
            margin: 10px;
            font-size: 20px;
            color: #333;
        }

        .container1 {
            max-width: 500px;
            margin: 5% auto;
            padding: 20px;
            background-color: #abaaaa;
            opacity: 0.9;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(48, 39, 39, 0.2);
        }
        .form-group {
            margin-bottom: 5px;
        }
        label {
            display: block;
            font-weight: bold;
        }
        input[type="text"], input[type="password"] {
            width: 85%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
        button {
            height:40px;
            width:80px;
            color:white;
            background-color: rgb(1, 118, 40);
        }

        .error-message {
            color: red;
        }
        .success-message {
            color: green;
        }
