body {
    font-family: Arial, sans-serif;
    background-image: url('img/gym3.jpg'); 
    background-size: cover;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #e9dfa2;
    opacity: 0.97;
    max-width: 650px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    width: 88%;
    display: flex;
    align-items: center;
     
}

.form-group label {
    flex: 1; 
    font-weight: bold;
    margin-right: 5px; 
    margin-left: 8px;
}
.form-group input[type="radio"] {
    flex: .3; 
    margin: 0; 
    margin-left: 80px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select{
    width: 20%;
}

button {
    background-color: #0e3f72;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}
.button-container {
    display: flex;
    justify-content: space-between;
}

button:hover {
    background-color: #0cd123;
}

input:hover{
    background-color: #dfdddb;
}

textarea:hover{
    background-color: #dfdddb; 
}

select:hover{
    background-color: #dfdddb; 
}

.error-message {
    color: red;
}
.success-message {
    color: green;
}

p{
    color:red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}








